/ApiInventario/.vs
/ApiInventario/ApiInventario.DLL/obj
/ApiInventario/ApiInventario.BLL/obj
/ApiInventario/ApiInventario/bin
/ProyectoInventario/.vs
/ProyectoInventario/ProyectoInventario/bin
/ProyectoInventario/ProyectoInventario/obj
/ProyectoInventario/ProyectoInventarioDAL/obj
/ProyectoInventario/ProyectoInventarioBLL/obj
/ProyectoInventario/ProyectoInventarioBLL/bin
/ProyectoInventario/ProyectoInventarioDAL/bin
/ProyectoInventario/ProyectoInventario/wwwroot/lib
