<!-- Modal Detalle Producto -->
<div class="modal fade" id="modalDetalleProducto" tabindex="-1" aria-labelledby="modalDetalleProductoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">

            <div class="modal-header modal-header-app">
                <h5 class="modal-title" id="modalDetalleProductoLabel">Detalle del Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered align-middle mb-0">
                        <tbody>
                            <tr>
                                <th style="width:30%;">ID</th>
                                <td id="detProdId"></td>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td id="detProdNombre"></td>
                            </tr>
                            <tr>
                                <th>Descripción</th>
                                <td id="detProdDescripcion"></td>
                            </tr>
                            <tr>
                                <th>Precio</th>
                                <td id="detProdPrecio"></td>
                            </tr>
                            <tr>
                                <th>Stock</th>
                                <td id="detProdStock"></td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td id="detProdEstado"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light border" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

